
<div class="pagDevolucion">
  <div class="containerDevolucion">
    <h2>Devolución de Libro</h2>
    <h3>Folio Usuario</h3>
    <p><input type="text" name="nombre" value="" placeholder="Ingrese el folio del usuario"></p>
    <h3>Libro ID</h3>
    <p><input type="text" name="nombre" value="" placeholder="Ingrese el ID del libro a devolver"></p>
    <button type="submit" id="botonDevolver">Devolver</button>
  </div> 
   <img class="imagenDevolucion" src="../../../assets/imagensitio/librosregistro.jpg" alt="imagen de biblioteca">
</div>