<nav class="navbarPrincipal">
    <h2>iLib</h2>

    <ul class="listadoNavbar">
        <li class="elementoNavbar"><img src="../../assets/iconosnavbar/home-outline.png"><a routerLink="principal">Principal</a></li>
        <li class="elementoNavbar"><img src="../../assets/iconosnavbar/calendar-plus.png"><a routerLink="prestamos">Prestamos</a></li>
        <li class="elementoNavbar"><img src="../../assets/iconosnavbar/calendar-multiple-check.png"><a routerLink="devoluciones">Devoluciones</a></li>
        <li class="elementoNavbar"><img src="../../assets/iconosnavbar/account-multiple.png"><a routerLink="usuarios">Usuarios</a></li>
        <li class="elementoNavbar"><img src="../../assets/iconosnavbar/book-open-page-variant.png"><a routerLink="libros">Libros</a></li>
        <li class="elementoNavbar"><img src="../../assets/iconosnavbar/file-chart.png"><a href="#">Reportes</a></li>
        <a>cara de perro</a>
    </ul>
    </nav>
