
*{  
    word-spacing: 2px;
    
}

.pagPrestamos{
    margin: 20px 20px 0 200px;
    display: flex;
    position: relative;
    
}
h2{
    padding: 20px 0;
    font-size: 25px;
}

.containerPrestamo {
    margin: 20px auto;
    background-color: #299bff42;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.188);
    text-align: center;
    width: 60%; 
    padding:20px;
}

.containerPrestamo h3 {
	font-size:20px;
}

.containerPrestamo input{
	width: 80%;
	border: 1px solid white;
    border-radius: 5px;
	border-bottom: 1px solid #2860d7;
	padding: 10px;
	
}

#botonPrestar{
	margin: 50px 0;
	padding: 10px;
	border-radius:5px;
    width: 30%;
	background-color:#2860d7;
	color:white;
	font-size: 15px;
}

#botonPrestar:hover{
    background-color:#103b97;
    transition: all 0.5s;
}
.imagen{
    width: 30%;
    height: 500px;
    margin: 20px auto;
}

.imagenPrestamos{
    width: 100%;
    height: 100%;
     object-fit: cover;
    }


@media (max-width:768px){
.containerPrestamo input{
    padding:5px;
    width:100%;
    font-size:15px; 
    }

    #botonPrestar{
        margin:20px;
        padding:5px;
        font-size:10px;
    }

}

@media (max-width:480px){
    .pagPrestamos{
        margin:10px 10px 0 120px ;
    }
    .containerPrestamo input{
        padding:5px;
        width:100%;
        font-size:10px; 
        }
    
        #botonPrestar{
            margin:10px;
            padding:5px;
        }
}

@media (max-width:320px){
    .pagPrestamos{
        margin-left: 75px;
    }

    .containerPrestamo{
        font-size: 10px;
        margin-right: 0;
    }
    .containerPrestamo h2{
        font-size: 15px;
        margin-bottom: 0;
    }
    .containerPrestamo h3{
        font-size: 10px;
    }
    .containerPrestamo input{
        font-size: 8px;
        width: 100%;
    }
    #botonPrestar{
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 10px;
        padding: 2px;
    }
}