
*{  
    word-spacing: 2px;
}

.pagPrestamos{
    margin-top:20px;
    margin-left:200px; 
    padding-right: 10px;
    display: flex;
    position: relative;
}
h2{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    font-size: 25px;
}

.pagPrestamos .containerPrestamo {
    margin:15px 0 0 10px;
    background-color: #299bff42;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.188);
    text-align: center;
    width: 60%; 
    margin: 0 20px;
    width: 50em;
    padding: 30px 20px;

}

.pagPrestamos .containerPrestamo h3 {
	font-size:20px;
}

.pagPrestamos .containerPrestamo input{
	width: 80%;
	border: 1px solid white;
    border-radius: 5px;
	border-bottom: 1px solid #2860d7;
	padding-bottom: 10px;
    padding-left: 1%;
	
}

.pagPrestamos .containerPrestamo #botonPrestar{
	margin-top: 50px;
    margin-bottom: 50px;
	padding: 10px;
	border-radius:5px;
    width: 30%;
	background-color:#2860d7;
	color:white;
	font-size: 15px;
}

.pagPrestamos .containerPrestamo #botonPrestar:hover{
    background-color:#103b97;
    transition: all 0.5s;
}

.pagPrestamos .imagenPrestamos{
    max-width: 30%;
    height: 200px;
    margin: 150px 5px 0 0;
    border-radius: 10px;
    }

@media (max-width:1024px){
    .pagPrestamos .imagenPrestamos{
        max-width: 20%;
        height: 150px;
    }
    
}

@media (max-width:768px){
    .pagPrestamos .containerPrestamo {
        text-align: center;
        width: 100%; 
        margin:10px;
    }
    .pagPrestamos .imagenPrestamos {
        visibility:hidden;
        width: 0;
    }
}

@media (max-width:480px){
    .pagPrestamos{
        margin:10px 10px 0 120px ;
    }
    .pagPrestamos .containerPrestamo{
        font-size: 10px;
        margin-right: 0;
    }
    .pagPrestamos .containerPrestamo h2{
        font-size: 20px;
    }

    .pagPrestamos .containerPrestamo h3{
        font-size: 15px;
        margin-bottom: 0;
    }

    .pagPrestamos .containerPrestamo #botonPrestar{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 5px;
        border-radius:5px;
        width: 30%;
        background-color:#2860d7;
        color:white;
        font-size: 15px;
    }
}

@media (max-width:320px){
    .pagPrestamos{
        margin-left: 75px;
    }

    .pagPrestamos .containerPrestamo{
        font-size: 10px;
        margin-right: 0;
    }
    .pagPrestamos .containerPrestamo h2{
        font-size: 15px;
        margin-bottom: 0;
    }
    .pagPrestamos .containerPrestamo h3{
        font-size: 10px;
    }
    .pagPrestamos .containerPrestamo input{
        font-size: 8px;
        width: 100%;
    }
    .pagPrestamos .containerPrestamo #botonPrestar{
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 10px;
        padding: 2px;
    }
}