<<<<<<< HEAD
.container{
  padding-top: 100px;
  padding-left: 50px;
}

=======
>>>>>>> origin
.table{
  border: solid;
  border-width: 2px;
}
<<<<<<< HEAD
=======

.container{
  padding-left: 50px;
  padding-top: 100px;
}
>>>>>>> origin
