<div class="portadaPrincipal">
	<div class="containerPortadaPrincipal">
		<h2>ILIB: Libreria online</h2>
	</div>

</div>
<div class="principal">
	<div class="containerPrincipal">
    <h2>Bienvenido</h2>
    <p>Sistema de Gestión para Biblioteca Pública. Controle y administre de forma
			óptima y fácil el flujo de préstamos y devoluciones de Libros.
      <br>
      Esta herramienta le permitirá llevar un control completo y detallado de su Biblioteca,tendrá acceso a herramientas especiales para tareas específicas, como lo son:
		</p>
    <ul>
			<li>Préstamos</li>
			<li>Devoluciones</li>
			<li>Registro de Usuarios y Libros Nuevos </li>
			<li>Edicion de Usuarios y Libros existentes</li>
			<li>Eliminar todo tipo de Registros</li>
			<li>Sección de Reportes de acciones en el sistema</li>
		</ul>
  </div>
</div>
