<div class="usuarios">
<div class="containerUsuarios">
  <h2>Usuarios</h2>
  <form class="barraBuscador d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Ingrese el nombre de usuario a buscar " aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>

  <table class="tablaUsuario table table-dark">
    <thead class="contenedorTabla thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Domicilio</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Mail</th>
      </tr>
    </thead>
    
  </table>

  <button
    type="button"
    class="botonNuevo btn btn-primary btn-lg action" routerLink="/nuevousuario">
  Nuevo
  </button>


</div>







