
*{
    padding: 0;
    box-sizing: border-box;
    transition: all 0.8s;
}
.form{
  margin-left: 250px;
  margin-top: 20px;
}

.usuarios{
    margin: 10px 10px 0 210px;
    display: block;
    padding: 20px;
    background-color: #299bff42;
    border-radius: 5px;
}
.usuarios .containerUsuarios .barraBuscador{
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 50%;
    height: 45px;
    display: flex;
    float: right;
}

.usuarios .containerUsuarios .barraBuscador input{
    padding-left: 10px;
}

.usuarios .containerUsuarios .barraBuscador button{
    background-color: #2860d7;
    color: #f0f8ff;
    border-color: #000000;
    padding: 5px;
}

.usuarios .containerUsuarios .tablaUsuario .contenedorTabla th{
    border: 2px solid #2860d7;
}

.usuarios .containerUsuarios .botonNuevo{
    background-color: #2860d7;
    margin-top: 10%;
    margin-left: 50%;
}