<!--
<div class="pagUsuarios">
    <h2>Registrar nuevo usuario</h2>
     <div class="containerUsuario">
        <h3>Nombre</h3>
      <p><input type="text" name="nombre" value="" placeholder="Ingrese el nombre"></p>
      <h3>Apellido Paterno</h3>
        <p><input type="text" name="apellidoPaterno" value="" placeholder="Ingrese el apellido paterno"></p>
      <h3>Apellido Materno</h3>
        <p><input type="text" name="apellidoMaterno" value="" placeholder="Ingrese el apellido materno"></p>
        <h3>Dirección</h3>
        <p><input type="text" name="direccion" value="" placeholder="Ingrese el domicilio"></p>
        <h3>Teléfono</h3>
        <p><input type="tel" name="telefono" value="" placeholder="Ingrese un número telefonico"></p>
        <button type="submit" id="botonRegistrar">Registrar</button>

        <img class="imagenUsuarios" src="../../assets/imagensitio/librosregistro.jpg" alt="imagen de una biblioteca de libros">

    </div>
  -->





